.s-contenido {
  width: 50vw;
  margin: auto;
  background-color: rgb(0, 0, 0, 0.1);
}

.s-perfil {
  display: flex;
  align-items: center;
  height: 100vh;
}

.s-imagen {
  padding-left: 25px;
  width: 320px;
  height: 320px;
}

.s-resumen {
  text-align: justify;
  padding-right: 25px;
}

.s-resumen h1,
h3 {
  text-align: center;
  margin-bottom: 20px;
}

.s-tecnologias {
  text-align: center;
}

.s-t-titulo {
  padding: 30px;
}

.s-t-iconos {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
}
.s-t-iconos {
  display: flex;
  justify-content: space-evenly;
}

.s-t-iconos div {
  width: 90px;
  height: 90px;
  font-weight: bold;
  text-align: center;
}

.s-t-iconos .spring {
  width: 64px;
  height: 64px;
}

.s-proyectos {
  align-content: center;
  text-align: center;
  height: 100vh;
}

.s-p-titulo {
  padding: 30px;
}

.s-p-proyectos {
  display: flex;
  justify-content: space-evenly;
}

.s-p-proyecto {
  width: 20vw;
  padding: 15px;
  border-radius: 15px;
  background-color: rgb(10, 10, 20);
}
