.s-contenido {
  width: 50vw;
  min-width: 400px;
  margin: auto;
  box-shadow: 0px 0px 5px rgb(66, 66, 66);
  background-color: rgb(0, 0, 0, 0.1);
}

.s-perfil {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100vh;
  align-content: center;
}

.d-img {
  width: 350px;
}

.s-imagen {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 5px solid black;
  box-shadow: 0px 0px 5px gray;
}

.s-resumen {
  text-align: justify;
  width: 350px;
}

.s-resumen h1,
h3 {
  text-align: center;
  margin-bottom: 20px;
}

.s-tecnologias {
  text-align: center;
  min-height: 100vh;
  align-content: center;
}

.s-t-titulo {
  padding-bottom: 20px;
  padding-top: 20px;
}

.s-t-iconos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.s-t-iconos div {
  width: 90px;
  height: 90px;
  padding: 20px;
  font-weight: 800;
  text-align: center;
}

.s-t-iconos .spring {
  width: 64px;
  height: 64px;
}

.s-proyectos {
  align-content: center;
  text-align: center;
  min-height: 100vh;
}

.s-p-proyectos {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.s-p-proyecto {
  width: 20vw;
  min-width: 300px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(10, 10, 20);
}

.s-habilidades {
  text-align: center;
  align-content: center;
  min-height: 100vh;
}

.s-h-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.s-h-frag {
  width: 210px;
  margin: 20px;
}

.s-h-frag p {
  margin-bottom: 20px;
}

.s-h-frag a {
  border: 2px solid white;
  border-radius: 5px;
}

.s-h-blandas {
  padding-top: 100px;
  padding-bottom: 20px;
}

.s-h-lista-h {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.s-h-lista-h p {
  width: 200px;
}
