.h-header {
  width: 100%;
  height: 10vh;
  background-color: rgb(10, 10, 20);
  position: fixed;
}

.h-menu {
  width: 50%;
  display: flex;
  margin: auto;
}

.h-marca {
  display: flex;
  align-items: center;
}

.h-nav {
  display: flex;
  list-style: none;
  align-items: center;
  height: 10vh;
  width: 90%;
}

html {
  scroll-behavior: smooth;
}

.h-nav a {
  padding: 15px;
  color: inherit;
  text-decoration: none;
}

.h-nav a:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}
