.f-footer {
  width: 100%;
  min-height: 30vh;
  background-color: rgb(0, 0, 0);
  color: white;
}
.f-menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
  padding: 30px;
}

.f-marca {
  text-align: center;
  width: 275px;
  margin-bottom: 20px;
}

.f-contacto {
  width: 275px;
  text-align: center;
}
.f-contacto p {
  margin-bottom: 20px;
}
